<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div>
        <h3>Game Code</h3>
        <button class="btn" id="genCodeBtn">Gen Code</button>
        <span id="code"></span>
    </div>
    <div>
        <h3>Events</h3>
        <button id="example">Run Example</button>
        <span id="slide_index">Slide: #</span>
    <ul>
        <li><button id="next-slide">Next Slide</button></li>
        <li><button id="leaderboard">LeaderBoard</button></li>
    </ul>
    </div>
    <div>
        <h3>Awnser for this slide:</h3>
        <span id="ans"></span>
    </div>
    <div>
        <h3>Connected Users</h3>
        <ul id="users"></ul>
    </div>
    <script>
        const genCodeBtn = document.getElementById('genCodeBtn');
        const ans = document.getElementById('code');

        genCodeBtn.addEventListener('click', () => {
            
            fetch('/api/gen_key?auth='+encodeURI(localStorage.getItem('password')), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((r) => r.json()).then(({ key }) => {
                ans.innerHTML = key;
            })
        });
        function runInterval() {
        fetch('/protected/game_code', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((r) => r.json()).then(({ key }) => {
            ans.innerHTML = key;
        })
        fetch('/protected/slide_index', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((r) => r.json()).then(({ index }) => {
            document.getElementById('slide_index').innerHTML = `Slide: ${index}`;
        })
        fetch('/protected/clients', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((r) => r.json()).then(({ clients }) => {
            const users = document.getElementById('users');
            clients.forEach((client) => {
                const li = document.getElementById(client.id) || document.createElement('li');
                const btn = document.createElement('button');
                li.id = client.id;
                // li.innerHTML = `(User - ${client.handshake.username}) ${client.id} - (${client.handshake.headers['user-agent']}) connected since ${new Date(client.handshake.time).toLocaleString()}`;
                li.innerHTML = `(User - ${client.handshake.username}) `;
                btn.innerHTML = 'Kick';
                btn.addEventListener('click', () => {
                    fetch('/protected/suspend_socket', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ id: client.id })
                    }).then((r) => r.json()).then(({ success }) => {
                        if (success) {
                            li.remove();
                        }
                    })
                 
                })
                li.appendChild(btn);
                if(!document.getElementById(client.id)) users.appendChild(li);
            })
        })
        document.getElementById('example').addEventListener('click', () => {
            fetch('/protected/example', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((r) => r.json()).then(({ success }) => {
                if (success) {
                    alert('Example ran successfully');
                }
            })
        })
    }
    runInterval();
        setInterval(runInterval, 1000);
        // events
        document.getElementById('next-slide').addEventListener('click', () => {
            fetch('/protected/next_slide', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((r) => r.json()).then(({ success }) => {
                if (success) {
                    alert('Next slide ran successfully');
                }
            })
        })
        document.getElementById('leaderboard').addEventListener('click', () => {
            fetch('/protected/leaderboard', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((r) => r.json()).then(({ success }) => {
                if (success) {
                    alert('Leaderboard ran successfully');
                }
            })
        })

    </script>
</body>
</html>