<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div>
        <h3>Game Code</h3>
        <button class="btn" id="genCodeBtn">Gen Code</button>
        <span id="code"></span>
    </div>
    <div>
        <h3>Awnser for this slide:</h3>
        <span id="ans"></span>
    </div>
    <div>
        <h3>Connected Users</h3>
        <ul id="users"></ul>
    </div>
    <script>
        const genCodeBtn = document.getElementById('genCodeBtn');
        const ans = document.getElementById('code');

        genCodeBtn.addEventListener('click', () => {
            
            fetch('/api/gen_key?auth='+encodeURI(localStorage.getItem('password')), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((r) => r.json()).then(({ key }) => {
                ans.innerHTML = key;
            })
        });

    </script>
</body>
</html>